body {
    margin: 0px;
    background: #808080;
}

header {
    width: 100%;
    height: auto;
    background: #0b000d;
    border-bottom: 1px solid #c8c8c8;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

main {
    background: url('../../Images/black-cat-wallpaper-4.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: top;
    display: grid;
    grid-template-columns: 200px auto;
}

footer {
    width: 100%;
    background: #0b000d;
    border-top: 1px solid #c8c8c8;
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Curlz MT';
    color: #c685e8;
}

h1, h2 {
    padding: 10px 150px 10px 150px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #c685e8;
}

p {
    color: #c685e8;
    margin-left: 60px;
}



.header-content {
    position: relative;
    grid-column-start: 1;
}

h2.header-content {
    margin: 10px;
    text-align: start;
    padding: 0px;
    width: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    display: inline-block;
    vertical-align: middle;
}

.gallery {
    position: relative;
    margin: 0px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid aliceblue;
}

img.gallery {
    background-color: rgba(10, 10, 10, 0.7);
    object-fit: contain;
    margin: 10px;
}

input.gallery {
    grid-column-start: 2;
    margin: 10px;
    font-family: 'Curlz MT';
    font-size: 30px;
    color: #c685e8;
    background: #0b000d;
}

input.gallery:hover {
    background: #c685e8;
    color: #0b000d;
    font-weight: bold;
}

tr:not(.header), td:not(.header) {
    margin: 10px;
    height: 100px;
    border-spacing: 0px;
}

img.avatar {
    border: 2px solid #101010;
    border-radius: 25%;
    margin: 50px 0px;
}

img.nav-btn {
    border: 5px ridge #843693;
    border-radius: 50%;
}


a.navigation {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 24px;
    color: #d885e8;
    padding: 5px;
    margin: 10px;
}

a.navigation:visited {
    color: #f5c4ff;
}

a.navigation:hover {
    border-radius: 10px;
    background-color: #d885e8;
    color: #24002b;
}

ul.navigation {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-top: 20px;
    position: fixed;
}

li.navigation {
    border-bottom: 2px solid #101010;
    background: linear-gradient(to bottom right, #808080, #404040);
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant-caps: all-petite-caps;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    width: 100%;
}

li.navigation:first-child {
    border-top: 2px solid #101010;
}

p.navigation {
    font-size: 36px;
    margin: 0px;
    padding: 0px;
}


.menu {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

img.menu {
    height: auto;
    border-radius: 50%;
    margin: 10px;
    border: 0px;
    background-color: #24002b;
}

li.menu {
    margin: 0px;
    background-color: transparent;
    position: relative;
    /*border-right: 1px solid #c8c8c8;*/
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    text-align: right;
    align-content: center;
    grid-template-columns: none;
}

li.menu:nth-child(1) {
    background: url(..\\..\\Images\\Main.png) no-repeat;
    background-size: contain;
}

li.menu:nth-child(2) {
    background: url(..\\..\\Images\\Cats.png) no-repeat;
    background-size: contain;
}

li.menu:nth-child(3) {
    background: url(..\\..\\Images\\Game.png) no-repeat;
    background-size: contain;
}

li.menu:nth-child(4) {
    background: url(..\\..\\Images\\Gallery.png) no-repeat;
    background-size: contain;
    border-top: 2px solid #c685e8;
    border-bottom: 2px solid #c685e8;
}

li.menu:nth-child(4) a.menu {
    font-size: 42px;
    font-weight: bold;
}

ul.menu {
    padding: 0px;
    margin-top: 4px;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-row-gap: 5px;
}

a.menu {
    align-items: center;
    text-align: right;
    font-family: 'Curlz MT';
    font-size: 30px;
    font-variant: small-caps;
    color: #c685e8;
    text-decoration: none;
    display: block;
    padding-right: 10px;
}

div.menu {
    width: 100%;
    background: radial-gradient(rgba(16, 16, 16, 0.50), rgba(16, 16, 16, 0.80));
    grid-template-columns: none;
}


.maximized {
    grid-column: span 2;
    grid-row: span 2;
    width: 385px;
    height: 385px;
}


#header-main {
    display: grid;
    grid-template-columns: 100px auto 410px;
}

#header-image {
    display: inline;
    height: 100px;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

#header-text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Curlz MT';
    font-size: 50px;
    font-variant: small-caps;
    color: #c685e8;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0px;
    padding: 0px 10px;
}

#navigation {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #808080, #404040);
    border-left: 2px solid #101010;
    position: relative;
}

#menu {
    background: linear-gradient(#0d0010, #24002b);
    width: 200px;
    grid-row: span 2;
}

#gallery-panel {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 0px;
}

#footer-text {
    font-size: 48px;
    font-family: 'Curlz MT';
    font-variant: small-caps;
    font-weight: bold;
    color: #c685e8;
}
